:root {
  --theme-color: #727272;
  --theme-color-light: #eee;
  --theme-color-dark: #333;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

header {
  height: 70px;
  font-size: 30px;
  font-weight: 700;
  padding: 0 25px;
  background-color: var(--theme-color-light);
  color: var(--theme-color-dark);
}

#content {
  padding: 15px 25px 25px;
}

.search-button {
  margin-left: 10px;
  background: none;
  color: #fff;
  border: 2px solid var(--theme-color);
  background-color: var(--theme-color);
}

#previous-search-city {
  list-style-type: none;
  padding: 0;
}

#previous-search-city li {
  padding: 10px;
  border-radius: 5px;
}

li:hover {
  background-color: var(--theme-color-light);
}

h2 {
  white-space: nowrap;
  overflow: hidden;
}

.city-text-overflow {
  text-overflow: ellipsis;
}

.small-country {
  font-size: 12px;
}

.main-search-city {
  margin: 30px 0;
}

.forecast-box {
  margin-right: 10px;
}

.card-date {
  width: 100%;
  background-color: var(--theme-color);
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 23px;
  margin-bottom: 4px;
  padding: 8px 0;
}

.card-temperature {
  font-weight: 700;
  font-size: 45px;
}

.card-info {
  line-height: 150%;
  font-size: 17px;
  color: var(--theme-color-dark);
}

.card-info span {
  font-weight: 700;
  color: #333;
}

img.weather-icons {
  width: 90px;
  height: 90px;
}
